<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head"); -%>

<body>

<main class="main-add">
  <section>
    <h1>add room</h1>
    <p>search for a album and get a room</p>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="">
    </form>
  </section>
</main>

<%- include ("partials/scripts"); -%>

</body>
</html>
