<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head"); -%>

<body>

  <main class="main-login">
    <h1>get-a-room</h1>

    <a href="/login" class="btn--login">login in met spotify</a>
  </main>

</body>
</html>
