<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head"); -%>

<body>
  <%- include ("partials/header"); -%>

  <main class="main-room">
    <section class="album">
      <div class="album-cover">
        <img class="album-cover-img" src="/img/placeholder.png" alt="">
      </div>
      <div class="album-tracks">
        <h3>title</h3>
        <ul class="album-tracks-list">
          <li class="album-tracks-item">track</li>
          <li class="album-tracks-item">track</li>
          <li class="album-tracks-item">track</li>
          <li class="album-tracks-item">track</li>
          <li class="album-tracks-item">track</li>
          <li class="album-tracks-item">track</li>
          <li class="album-tracks-item">track</li>
          <li class="album-tracks-item">track</li>
        </ul>
      </div>
    </section>

    <section class="chat">

    </section>

  </main>

  <%- include ("partials/scripts"); -%>

</body>
</html>
