:root {
  --backgr: #000;
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
  --hover: tomato;
  --border: #fff;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--backgr);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23007801' stroke-width='2.7' stroke-opacity='0.62'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--light);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
}

.header {
  height: 3em;
  background-color: var(--backgr);
  padding: .5rem 1.5rem;
}
.header-img {
  height: inherit;
  float: right;
}

.main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "online"
    "rooms";
}
.main-online {
  grid-area: online;
}
.main-rooms {
  grid-area: rooms;
  width: 100vw;
}

/* ONLINE */
.online-title {
  padding: 0 1.5em;
}
.online-list {
  width: 100vw;
  display: flex;
  overflow: auto;
}
.online-list-item {
  list-style-type: none;
  margin-right: 1.5em;
}
.online-list-item:first-of-type {
  margin-left: 1.5em;
}
.online-list-item-link:hover h4{
  color: var(--hover);
}
.online-list-item-link:hover img{
  border-color: var(--hover);
}
.online-list-item-cover {
  height: 6em;
  border-radius: 100%;
  border: solid 2px var(--border);
}
.online-list-item-title {
  text-align: center;
  color: var(--light);
}

/* ROOMS */
.main-rooms-header {
  padding: 0 1.5em;
  margin-bottom: 1rem;
}
.title-list {
  display: flex;
}
.title-list li {
  list-style-type: none;
}
.rooms-title {
}
.rooms-new {
  margin-left: 1rem;
}
.rooms-subtitle {
  padding: 0 1.5em;
}
.rooms-list {
  display: flex;
  overflow: scroll;
}
.rooms-list-item {
  list-style-type: none;
  margin-right: 1.5em;
}
.rooms-list-item:first-of-type {
  margin-left: 1.5em;
}
.rooms-list-item:last-of-type {
  padding-right: 1.5em;
}
.rooms-list-item-link:hover h4{
  color: var(--hover);
}
.rooms-list-item-link:hover img{
  border-color: var(--hover);
}
.rooms-list-item-cover {
  height: 10em;
  border: solid 2px var(--border);
}
.rooms-list-item-title{
  text-align: center;
  color: var(--light);
}
