:root {
  --backgr: #000;
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
  --hover: tomato;
  --border: #fff;
  --msg-user: #ccc;
  --msg-me: #11aa44;
  --text: #000;
  --name: #444;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #123;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='216' height='216' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%2300fdff' stroke-width='1.7' stroke-opacity='0.43'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E"); */
  color: var(--light);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
}

.header {
  height: 3em;
  background-color: var(--backgr);
  padding: .5rem 1.5rem;
}
.header-img img {
  height: 2.75em;
  float: right;
  /* border: solid 2px var(--light); */
}
.header-img:hover img {
  border-color: var(--hover);
}

.main-home {
  /* display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "online"
    "rooms"; */
}
.main-online {
  grid-area: online;
  width: 100vw;
}
.main-rooms {
  grid-area: rooms;
  width: 100vw;
}

.main-room {
  height: 90%;
}

.main-room-container {
  display: grid;
  grid-template-areas:
    "chat chat chat chat chat online"
    "chat chat chat chat chat online"
    "chat chat chat chat chat online";
  height: 70%;
  background-color: var(--light);
}

.main-chat {
  background-color: var(--light);
}

/* HOME: ONLINE */
.online-title {
  padding: 0 1.5em;
}
.online-list {
  width: 100vw;
  display: flex;
  overflow: auto;
}
.online-list-item {
  list-style-type: none;
  margin-right: 1.5em;
}
.online-list-item:first-of-type {
  margin-left: 1.5em;
}
.online-list-item-link:hover h4, .online-list-item-link:focus h4{
  color: var(--hover);
}
.online-list-item-link:hover img, .online-list-item-link:focus img{
  border-color: var(--hover);
}
.online-list-item-cover {
  background-color: var(--light);
  height: 6em;
  border-radius: 100%;
  border: solid 2px var(--border);
}
.online-list-item-title {
  text-align: center;
  color: var(--light);
}

/* HOME: ROOMS SECTION */
.main-rooms-header {
  padding: 1rem 1.5em;
  background-color: #000;
}
.title-list {
  display: flex;
}
.title-list li {
  list-style-type: none;
}
.rooms-title {
  margin-right: 1rem;
}
.rooms-new {
  margin-left: 1rem;
  font-size: 1.5em;
  color: darkgrey;
}
.rooms-new:hover, .rooms-new:focus {
  color: var(--hover);
}
.rooms-subtitle {
  padding: 0 1.5em;
}

.rooms-list {
  display: flex;
  overflow: scroll;
  height: 12rem;
  margin-top: 1rem;
}
.rooms-list-item {
  list-style-type: none;
  position: relative;
  /* margin-right: 1.5em; */
}
.rooms-list-item:first-of-type {
  margin-left: 1.5em;
}
.rooms-list-item:last-of-type {
  padding-right: 1.5em;
}
.rooms-list-item-link:hover h4, .rooms-list-item-link:focus h4{
  background-color: var(--hover);
  color: var(--light);
}
.rooms-list-item-link:hover img, .rooms-list-item-link:focus img{
  border-color: var(--hover);
}
.rooms-list-item-cover {
  height: 10em;
}
.rooms-list-item-title{
  font-size: 1rem;
  overflow: scroll;
  background-color: #000;
  text-align: center;
  color: var(--light);
  width: 12.2rem;
  position: absolute;
  margin-top: 5.25rem;
}

/* ROOM: ALBUM */
.album {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 30% 50% 20%;
  padding: 0 2rem;
  height: 13.5rem;
}

.album-cover {

}

.album-cover-img {
  height: 12.5rem;
}

.album-tracks {

}

.album-tracks-list {
  height: 10.5rem;
  overflow: scroll;
}

.album-tracks-item {
  list-style-type: decimal;
}

.album-tracks-item:hover, .album-tracks-item:focus {
  color: var(--hover);
}

.album-tracks-item a {
  color: mediumslateblue;
}

.album-controls {

}

.album-controls-play {

}

.controls-btn {
  border-radius: 100px;
  background-color: #fff;
  color: #111;
  padding: 2rem;
}

.controls-btn:hover, .controls-btn:focus {
  color: var(--light);
  background-color: var(--hover);
}

/* ROOM: CHAT */
.chat {
  grid-area: chat;
  background-color: var(--light);
  padding-bottom: 2.55em;
}

.chat-container {
  padding: 0 1.75rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 57.5vh;
}

.chat-form {
  width: 100%;
  position: absolute;
  display: flex;
  padding: .75rem 0;
  margin-top: auto;
  background-color: var(--dark);
}

.chat-form-input {
  border-radius: 50px 0 0 50px;
  border: solid 1px var(--dark);
  height: 2rem;
  width: 80%;
  display: block;
  padding: 0 1rem;
  font-size: 1rem;
}

.chat-form-btn {
  width: 20%;
  border-radius: 0 50px 50px 0;
  border: solid 1px var(--dark);
  font-size: 1rem;
}

.chat-form-btn:hover, .chat-form-btn:focus {
  background-color: var(--hover);
  color: var(--light);
}

.server-msg {
  text-align: center;
  color: #222;
  list-style-type: none;
}

.chat-msg {
  list-style-type: none;
  margin-bottom: .75rem;
}

.chat-msg:first-of-type {
  margin-top: .5rem;
}

.chat-msg-me {
}

.chat-msg-user {
}

.chat-msg-welcome {
  color: var(--dark);
  list-style-type: none;

}

.chat-msg-me-text, .chat-msg-user-text {
  color: var(--text);
  width: fit-content;
  max-width: 60%;
  padding: .3rem 1rem;
}

.chat-msg-me-text {
  background-color: var(--msg-me);
  text-align: right;
  margin-left: auto;
  border-radius: 50px 50px 0 50px;
  list-style-type: none;
}

.chat-msg-user-text {
  background-color: var(--msg-user);
  text-align: left;
  margin-right: auto;
  border-radius: 50px 50px 50px 0;
  padding-left: 1rem;
}

.chat-msg-user-name {
  color: var(--name);
  display: block;
  font-size: .9rem;
}

/* ROOM: USERS */
.users {
  grid-area: online;
  background-color: var(--dark);
  width: 22.5rem;
}

.users-container {
  padding: 0 .5rem;
  overflow: scroll;
  height: 55vh;
}

.users-user {
  display: flex;
  margin-bottom: .5rem;
}

.users-user-pic {
  width: 5rem;
  margin-right: .5rem;
}

.users-user-name {
  font-size: 1rem;
}

/* SEARCH */
.alert {
  text-align: center;
  font-size: 1.25rem;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 11.5%;
}
.invisible {
  display: none;
}

.addRoom {
  background-color: var(--dark);
}

.rooms-search-form {
  padding-left: 1.5em;
  display: flex;
  position: absolute;
  height: 2rem;
}

.rooms-search-form-input {
  width: 70vw;
  font-size: 1em;
  padding-left: 1rem;
  border: none;
  border-radius: 50px 0 0 50px;
}

.result-list {
  display: flex;
  overflow: scroll;
  margin-bottom: 2rem;
  height: 12rem;
}

.result-item {
  width: 12rem;
  list-style-type: none;
  position: relative;
}

.result-item:hover h4, .result-item:focus h4 {
  background-color: var(--hover);
  color: var(--light);
}

.result-item:first-of-type {
  margin-left: 1.5em;
}

.result-item:last-of-type {
  padding-right: 1.5em;
}

.result-img {
  height: 10em;
}

.result-name {
  font-size: 1rem;
  overflow: scroll;
  background-color: var(--dark);
  text-align: center;
  color: var(--light);
  width: 12.2rem;
  position: absolute;
  margin-top: 5.5rem;
}



/* BTN */
.btn--back {
  color: var(--light);
}

.btn:hover, .btn:focus {
  color: var(--hover);
}

#submit {
  width: 25vw;
  background-color: palevioletred;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0 50px 50px 0;
}

#submit:hover, #submit:focus {
  color: var(--light);
  background-color: var(--hover);
}
