:root {
  --backgr: #000;
  --dark: #000;
  --course: #00B0FC;
  --light: #fff;
  --hover: tomato;
  --border: #fff;
  --msg-user: #ccc;
  --msg-me: #11aa44;
  --text: #000;
  --name: #444;
  --spotify: #11aa44;
  --blue: #123;
  --btn: palevioletred;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--blue);
  color: var(--light);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
}

.header {
  height: 3em;
  background-color: var(--backgr);
  padding: .5rem 1.5rem;
}
.header-img img {
  height: 2.75em;
  float: right;
}
.header-img:hover img {
  border-color: var(--hover);
}

.main-login {
  text-align: center;
  padding-top: 20%;
  max-height: 100vh;
}

.main-login h1 {
  margin-bottom: 5rem;
}

.main-online {
  grid-area: online;
  width: 100vw;
}
.main-rooms {
  grid-area: rooms;
  width: 100vw;
}

.main-room {
  height: 90%;
}

.main-room-container {
  display: grid;
  grid-template-areas:
    "chat chat chat chat chat online"
    "chat chat chat chat chat online"
    "chat chat chat chat chat online";
  height: 70%;
  background-color: var(--light);
}

.main-chat {
  background-color: var(--light);
}

/* HOME: ONLINE */
.online-title {
  padding: 0 1.5em;
}
.online-list {
  width: 100vw;
  display: flex;
  overflow: auto;
}
.online-list-item {
  list-style-type: none;
  margin-right: 1.5em;
}
.online-list-item:first-of-type {
  margin-left: 1.5em;
}
.online-list-item-link:hover h4, .online-list-item-link:focus h4{
  color: var(--hover);
}
.online-list-item-link:hover img, .online-list-item-link:focus img{
  border-color: var(--hover);
}
.online-list-item-cover {
  background-color: var(--light);
  height: 6em;
  border-radius: 100%;
  border: solid 2px var(--border);
}
.online-list-item-title {
  text-align: center;
  color: var(--light);
}

/* HOME: ROOMS SECTION */
.main-rooms-header {
  padding: 1rem 1.5em;
  background-color: #000;
}
.title-list {
  display: flex;
}
.title-list li {
  list-style-type: none;
}
.rooms-title {
  margin-right: 1rem;
}
.rooms-new {
  margin-left: 1rem;
  font-size: 1.5em;
  color: darkgrey;
}
.rooms-new:hover, .rooms-new:focus {
  color: var(--hover);
}
.rooms-subtitle {
  padding: 0 1.5em;
}

.rooms-list {
  display: flex;
  overflow: scroll;
  height: 12rem;
  margin-top: 1rem;
}
.rooms-list-item {
  list-style-type: none;
  position: relative;
  /* margin-right: 1.5em; */
}
.rooms-list-item:first-of-type {
  margin-left: 1.5em;
}
.rooms-list-item:last-of-type {
  padding-right: 1.5em;
}
.rooms-list-item-link:hover h4, .rooms-list-item-link:focus h4{
  background-color: var(--hover);
  color: var(--light);
}
.rooms-list-item-link:hover img, .rooms-list-item-link:focus img{
  border-color: var(--hover);
}
.rooms-list-item-cover {
  height: 10em;
}
.rooms-list-item-title{
  font-size: 1rem;
  overflow: scroll;
  background-color: var(--blue);
  text-align: center;
  color: var(--light);
  width: 12.3rem;
  position: absolute;
  margin-top: 5.25rem;
}

/* ROOM: ALBUM */
.album {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 30% 50% 20%;
  padding: 0 2rem;
  height: 13.5rem;
}

.album-cover-img {
  height: 12.5rem;
}

.album-tracks-list {
  height: 10.5rem;
  overflow: scroll;
}

.album-tracks-item {
  list-style-type: decimal;
}

.album-tracks-item:hover, .album-tracks-item:focus {
  color: var(--hover);
}

.album-tracks-item a {
  color: mediumslateblue;
}

.controls-btn {
  border-radius: 100px;
  background-color: var(--spotify);
  color: var(--light);
  padding: 1rem 2rem;
}

.controls-btn:hover, .controls-btn:focus {
  color: var(--light);
  background-color: var(--hover);
}

/* ROOM: CHAT */
.chat {
  grid-area: chat;
  background-color: var(--light);
  padding-bottom: 2.55em;
}

.chat-container {
  padding: 0 1.75rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 49vh;
}

.form-container {
  position: absolute;
    bottom: 0;
    width: 100%;
}

.chat-form {
  width: 100%;
  /* position: absolute; */
  display: flex;
  padding: .75rem 0;
  margin-top: auto;
  background-color: var(--dark);
}

.username-form {
  display: flex;
  padding: .75rem 0;
  margin-top: auto;
  background-color: var(--dark);
  width: 50%;
  border-radius: 0px 25px 0px 0px;
  padding-right: 1rem;
}

.chat-form-input {
  border-radius: 50px 0 0 50px;
  border: solid 1px var(--dark);
  height: 2rem;
  width: 80%;
  display: block;
  padding: 0 1rem;
  font-size: 1rem;
}

.chat-form-btn {
  width: 20%;
  border-radius: 0 50px 50px 0;
  border: solid 1px var(--dark);
  font-size: 1rem;
  background-color: var(--btn);
}

.chat-form-btn:hover, .chat-form-btn:focus {
  background-color: var(--hover);
  color: var(--light);
}

.server-msg {
  text-align: center;
  color: #222;
  list-style-type: none;
}

.track-msg--play {
  text-align: center;
  color: var(--spotify);
  list-style-type: none;
}

.track-msg--pause {
  text-align: center;
  color: var(--hover);
  list-style-type: none;
}

.chat-msg {
  list-style-type: none;
  margin-bottom: .75rem;
}

.chat-msg:first-of-type {
  margin-top: .5rem;
}

.chat-msg-welcome {
  color: var(--dark);
  list-style-type: none;

}

.chat-msg-me-text, .chat-msg-user-text {
  color: var(--text);
  width: fit-content;
  max-width: 60%;
  padding: .3rem 1rem;
}

.chat-msg-me-text {
  background-color: var(--msg-me);
  text-align: right;
  margin-left: auto;
  border-radius: 50px 50px 0 50px;
  list-style-type: none;
  margin-bottom: .5rem;
}

.chat-msg-user-text {
  background-color: var(--msg-user);
  text-align: left;
  margin-right: auto;
  border-radius: 50px 50px 50px 0;
  padding-left: 1rem;
  margin-top: .5rem;
}

.chat-msg-user-name {
  color: var(--name);
  display: block;
  font-size: .9rem;
}

/* ROOM: USERS */
.users {
  grid-area: online;
  background-color: var(--dark);
  width: 22.5rem;
}

.users-container {
  padding: 0 .5rem;
  overflow: scroll;
  height: 55vh;
}

.users-user {
  display: flex;
  margin-bottom: .5rem;
}

.users-user-pic {
  width: 5rem;
  margin-right: .5rem;
}

.users-user-name {
  font-size: 1rem;
}

/* SEARCH */
.alert {
  text-align: center;
  font-size: 1.25rem;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 11.5%;
  color: var(--hover);
}
.invisible {
  display: none;
}

.addRoom {
  background-color: var(--dark);
}

.rooms-search-form {
  padding-left: 1.5em;
  display: flex;
  height: 2rem;
  margin-bottom: 1rem;
}

.rooms-search-form-input {
  width: 70vw;
  font-size: 1em;
  padding-left: 1rem;
  border: none;
  border-radius: 50px 0 0 50px;
}

.result-list {
  display: flex;
  overflow: scroll;
  margin-bottom: 2rem;
  height: 12rem;
}

.result-item {
  width: 12rem;
  list-style-type: none;
  position: relative;
}

.result-item:hover h4, .result-item:focus h4 {
  background-color: var(--hover);
  color: var(--light);
}

.result-link:first-of-type {
  margin-left: 1.5em;
}

.result-link:last-of-type {
  padding-right: 1.5em;
}

.result-img {
  height: 10em;
}

.result-name {
  font-size: 1rem;
  overflow: scroll;
  background-color: var(--dark);
  text-align: center;
  color: var(--light);
  width: 12.2rem;
  position: absolute;
  margin-top: 5.5rem;
}

/* BTN */
.btn--back {
  color: var(--light);
}

.btn--login {
  color: var(--light);
  background-color: var(--spotify);
  padding: .25rem .5rem;
  border-radius: 50px;
}

.btn--login:hover, .btn--login:focus {
  background-color: var(--hover);
}

.btn:hover, .btn:focus {
  color: var(--hover);
}

#submit {
  width: 25vw;
  background-color: var(--btn);
  color: var(--light);
  font-size: 1rem;
  border: none;
  border-radius: 0 50px 50px 0;
}

#submit:hover, #submit:focus {
  color: var(--light);
  background-color: var(--hover);
}
