<section class="album">
  <div class="album-cover">
    <img class="album-cover-img" src="/img/placeholder.png" alt="">
  </div>
  <div class="album-tracks">
    <h3>title</h3>
    <ol class="album-tracks-list">
      <li class="album-tracks-item">track</li>
      <li class="album-tracks-item">track</li>
      <li class="album-tracks-item">track</li>
      <li class="album-tracks-item">track</li>
      <li class="album-tracks-item">track</li>
      <li class="album-tracks-item">track</li>
      <li class="album-tracks-item">track</li>
      <li class="album-tracks-item">track</li>
    </ol>
  </div>
</section>
