<section class="chat">
  <ul id="messages" class="chat-container">
    <li class="chat-msg chat-msg-user">
      <p class="chat-msg-user-text">blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb</p>
      <h4  class="chat-msg-user-name">naam gebruiker</h4>
    </li>
    <li class="chat-msg chat-msg-me">
      <p class="chat-msg-me-text">blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb</p>
    </li>

  </ul>
  <form class="chat-form" action="/room" method="POST">
    <input id="m" class="chat-form-input" type="text" name="msg" placeholder="schrijf een bericht...">
    <button class="chat-form-btn" type="submit" name="button">send</button>
  </form>
</section>
