<section class="chat">
  <ul id="messages" class="chat-container">

  </ul>
  <div class="form-container">
    <form class="username-form" action="">
      <input id="username" class="chat-form-input" type="text" name="msg" placeholder="name yourself or stay anonymous">
      <button class="chat-form-btn" type="submit" name="button">change</button>
    </form>
    <form class="chat-form" action="">
      <input id="message" class="chat-form-input" type="text" name="msg" placeholder="write a message...">
      <button class="chat-form-btn" type="submit" name="button">send</button>
    </form>
  </div>
</section>
