<section class="chat">
  <ul id="messages" class="chat-container">

  </ul>

  <form class="chat-form" action="/room" method="POST">
    <input id="message" class="chat-form-input" type="text" name="msg" placeholder="schrijf een bericht...">
    <button class="chat-form-btn" type="submit" name="button">send</button>
  </form>
</section>
