<section class="chat">
  <ul class="chat-container">
    <li class="chat-msg chat-msg-user">
      <p class="chat-msg-user-text">blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb</p>
      <h4  class="chat-msg-user-name">naam gebruiker</h4>
    </li>
    <li class="chat-msg chat-msg-me">
      <p class="chat-msg-me-text">blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb</p>
    </li>
    <li class="chat-msg chat-msg-user">
      <p class="chat-msg-user-text">blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb</p>
      <h4  class="chat-msg-user-name">naam gebruiker</h4>
    </li>
    <li class="chat-msg chat-msg-me">
      <p class="chat-msg-me-text">blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb dkjsbdkjdb dkjsbdkjdb dkjsbdkjdb</p>
    </li>
    <li class="chat-msg chat-msg-me">
      <p class="chat-msg-me-text">blablbskjbkfbjs hbfks</p>
    </li>
    <li class="chat-msg chat-msg-user">
      <p class="chat-msg-user-text">blablbskjbkfbjs hbfksbfkjsdbf ksjbdkjsbdkjdb</p>
      <h4  class="chat-msg-user-name">naam gebruiker</h4>
    </li>
  </ul>
  <form class="chat-form" action="index.html" method="post">
    <input class="chat-form-input" type="text" name="msg" placeholder="schrijf een bericht...">
    <button class="chat-form-btn" type="submit" name="button">send</button>
  </form>
</section>
