<header class="header">
  <a class="btn btn--back" href="/"><</a>
  <a class="header-img" href="#">
    <% if(me_pic.length !== 0) { %>
      <img class="" src="<%=me_pic[0].url %>" alt="">
    <% }) %>
  </a>
</header>
