<li class="online-list-item">
  <a class="online-list-item-link" href="#">
    <img class="online-list-item-cover" src="/img/placeholder.png" alt="">
    <h4 class="online-list-item-title">username</h4>
  </a>
</li>
