<li class="rooms-list-item">
  <a class="rooms-list-item-link" href="#">
    <img class="rooms-list-item-cover" src="/img/placeholder.png" alt="">
    <h4 class="rooms-list-item-title">roomname</h4>
  </a>
</li>
