<form id="addRoomForm" class="rooms-search-form" action="/" method="POST">
  <input id="search" class="rooms-search-form-input" type="text" name="search" placeholder="search...">
  <button id="submit" type="submit" name="submit">search</button>
</form>
