<form class="rooms-search-form" action="index.html" method="post">
  <input class="rooms-search-form-input" type="text" name="search" placeholder="search...">
  <button type="submit" name="submit">search</button>
</form>
