<section class="users">
  <ul class="users-container">
    <li class="users-user">
      <img class="users-user-pic" src="img/placeholder.png" alt="">
      <h4 class="users-user-name">Naam gebruiker</h4>
    </li>
    <li class="users-user">
      <img class="users-user-pic" src="img/placeholder.png" alt="">
      <h4 class="users-user-name">Naam gebruiker</h4>
    </li>
    <li class="users-user">
      <img class="users-user-pic" src="img/placeholder.png" alt="">
      <h4 class="users-user-name">Naam gebruiker</h4>
    </li>
    <li class="users-user">
      <img class="users-user-pic" src="img/placeholder.png" alt="">
      <h4 class="users-user-name">Naam gebruiker</h4>
    </li>
    <li class="users-user">
      <img class="users-user-pic" src="img/placeholder.png" alt="">
      <h4 class="users-user-name">Naam gebruiker</h4>
    </li>
    <li class="users-user">
      <img class="users-user-pic" src="img/placeholder.png" alt="">
      <h4 class="users-user-name">Naam gebruiker</h4>
    </li>
  </ul>
</section>
